body, html {
  height: 100% !important;
  margin: 0 !important;
  overflow-y: hidden !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-block {
  padding: 0.9rem !important;
  padding-top: 0.7rem !important;
}

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.fill {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.content {
  min-height: 83%;
  height: 83%;
  overflow-y: auto;
  padding: .75rem;
}

.no-rounded {
  border-radius: 0 !important;
}


.capitalize {
   text-transform: capitalize;
}
