<div class="fill">
	<div class="container content mt-3" scroll-glue>
		<div class="row mb-2" ng-repeat="message in vm.messages">
			<div class="col-3 col-sm-1">
				<img class="rounded img-fluid" ng-src="content/images/{{message.user}}.png">
			</div>
			<div class="col">
				<div class="card" ng-class="message.user == 'me' ? 'card-outline-warning' : 'card-outline-info'">
					<div class="card-block">
						<span class="card-title"><strong class="capitalize">{{message.user}}</strong></span>
						<span class="card-subtitle"><small class="ml-1 text-muted">{{message.timestamp | amDateFormat: 'HH:mm'}}</small></span>
						<p class="card-text" translate="{{message.content}}" translate-values="{{message.values}}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container hidden-sm-down">
		<div class="row">
			<div class="col">
				<form ng-submit="vm.submit()">
					<div class="input-group">
						<span class="input-group-btn">
					<button type="button" ng-click="vm.toggleRecording()" class="btn btn-lg" ng-class="vm.isRecording() ? 'btn-danger' : 'btn-success'">
						<i class="fa fa-2x" ng-class="vm.isRecording() ? 'fa-microphone-slash' : 'fa-microphone'" aria-hidden="true"></i>
			</button>
				</span>
						<input type="text" class="form-control" ng-model="vm.text" placeholder="{{ 'home.form.placeholder' | translate }}" />
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="hidden-sm-up fixed-bottom">
		<div class="row">
			<div class="col">
				<form ng-submit="vm.submit()">
					<div class="input-group">
						<span class="input-group-btn">
					<button type="button" ng-click="vm.toggleRecording()" class="btn no-rounded" ng-class="vm.isRecording() ? 'btn-danger' : 'btn-success'">
						<i class="fa fa-2x" ng-class="vm.isRecording() ? 'fa-microphone-slash' : 'fa-microphone'" aria-hidden="true"></i>
			</button>
				</span>
						<input type="text" class="form-control no-rounded" ng-model="vm.text" placeholder="{{ 'home.form.placeholder' | translate }}" />
					</div>
				</form>
			</div>
		</div>
	</div>


</div>
