<div class="container mt-3">
  <form>

    <h4 class="text-primary" translate="settings.general.title">General</h4>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label" translate="settings.general.name">Bot Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" ng-model="vm.settings.general.name"></input>
      </div>
    </div>
    <div class="form-group row">
      <label for="language" class="col-sm-2 col-form-label" translate="settings.general.language">Language</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="vm.settings.general.language" ng-options="it for it in vm.languages track by it"></select>
      </div>
    </div>

    <h4 class="text-primary" translate="settings.stt.title">Speech To Text</h4>
    <div class="form-group row">
      <label for="stt_locale" class="col-sm-2 col-form-label" translate="settings.locale">Locale</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="vm.settings.stt.locale" ng-options="it for it in vm.locales track by it"></select>
      </div>
    </div>
    <div class="form-group row">
      <label for="sst_engine" class="col-sm-2 col-form-label" translate="settings.engine">Engine</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="vm.settings.stt" ng-options="it.name for it in vm.sttEngines track by it.name"></select>
      </div>
    </div>
    <h5>Microsoft BingSpeech</h5>
    <fieldset disabled>
      <div class="form-group row">
        <label for="BingSpeech_subscription_key" class="col-sm-2 col-form-label" translate="settings.BingSpeech.subscriptionKey">Subscription Key</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="BingSpeech_subscription_key" placeholder="The BingSpeech Subscription Key to use" ng-model="vm.settings.BingSpeech.subscriptionKey">
        </div>
      </div>
    </fieldset>

    <h4 class="text-primary" translate="settings.tts.title">Text To Speech</h4>
    <div class="form-group row">
      <label for="tts_locale" class="col-sm-2 col-form-label" translate="settings.locale">Locale</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="vm.settings.tts.locale" ng-options="it for it in vm.locales track by it"></select>
      </div>
    </div>
    <div class="form-group row">
      <label for="tts_gender" class="col-sm-2 col-form-label" translate="settings.tts.gender">Gender</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="vm.settings.tts.gender">
          <option value="female" translate="global.gender.female">Female</option>
          <option value="male" translate="global.gender.male">Male</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="tts_engine" class="col-sm-2 col-form-label" translate="settings.engine">Engine</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="vm.settings.tts" ng-options="it.name for it in vm.ttsEngines track by it.name"></select>
      </div>
    </div>
    <h5>Microsoft BingSpeech</h5>
    <fieldset disabled>
      <div class="form-group row">
        <label for="BingSpeech_subscription_key" class="col-sm-2 col-form-label" translate="settings.BingSpeech.subscriptionKey">Subscription Key</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="BingSpeech_subscription_key" placeholder="The BingSpeech Subscription Key to use" ng-model="vm.settings.BingSpeech.subscriptionKey">
        </div>
      </div>
    </fieldset>

    <h4 class="text-primary" translate="settings.nlp.title">Natural Language Processor</h4>
    <div class="form-group row">
      <label for="nlp_engine" class="col-sm-2 col-form-label" translate="settings.nlp.engine">Engine</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="vm.settings.nlp" ng-options="it.name for it in vm.nlpEngines track by it.name"></select>
      </div>
    </div>
    <h5>Microsoft Luis</h5>
    <fieldset disabled>
      <div class="form-group row">
        <label for="luis_subscription_key" class="col-sm-2 col-form-label" translate="settings.Luis.subscriptionKey">Subscription Key</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="luis_subscription_key" placeholder="The Luis Subscription Key to use" ng-model="vm.settings.Luis.subscriptionKey">
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="application" class="col-sm-2 col-form-label" translate="settings.Luis.application">Application</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="vm.settings.Luis.application" ng-options="it.name for it in vm.luisApplciations track by it.appId"></select>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10 text-right">
        <button type="submit" class="btn btn-danger" ng-click="vm.reset()"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;<span translate="settings.reset">Reset</span></button>
        <button type="submit" class="btn btn-primary" ng-click="vm.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;<span translate="settings.save">Save</span></button>
      </div>
    </div>
  </form>
</div>
