<div class="container mt-3">
  <form>
    <h4 translate="settings.stt.title">Speech Recognition</h4>
    <div class="form-group row">
      <label for="locale" class="col-sm-2 col-form-label" translate="settings.stt.locale">Locale</label>
      <div class="col-sm-10">
        <input type="text"
         class="form-control"
          id="locale"
           placeholder="en-US,fr-FR,.."
           ng-model="vm.settings.stt.locale"
           uib-typeahead="locale for locale in vm.locales | filter:$viewValue | limitTo:3">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10 text-right">
        <button type="submit" class="btn btn-primary" ng-click="vm.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;<span translate="settings.save">Save</span></button>
      </div>
    </div>
  </form>
</div>
